* {
    box-sizing: border-box;
}

body {
    background-color: rgb(10, 10, 15);
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    height: 100%;
    min-height: 800px;
    margin: 0px;
}

#name {
    float: left;
    font-size: 50px;
    text-align: left;
    margin: 55px 35px;
    transition: transform 0.3s ease-in-out;
}

#name:hover {
    transform: scale(1.1, 1.1);
}


#top {
    text-align: center;
    top: 0;
    width: 100%;

}

figure.image {
    float: left;
}

section.name {
    float: top;
    padding-left: 40px;
}

section.text {
    float: left;
    padding: 20px;
}

footer {
    clear: both;
    text-align: center;
    padding: 20px;
    border-top: solid 2px white;
}

/* Navbar */
.sticky {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

#topnav {
    padding: 10px 0px;
    text-align: center;
    top: 0;
    width: 100%;
    background: rgb(10, 10, 15);
    ;
}

#topnav a {
    top: 0;
    width: 100%;
}

#topnav a:hover {
    background-color: #3816F0;
    color: white;
}

ol {
    list-style-type: none;
    height: 1em;
    line-height: 2em;
    text-align: left;
    padding-inline-start: 0px;
    margin-block-end: 1em;
    margin-block-start: 0em;
    padding-bottom: 1%
}

ol a {
    display: block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding-left: 10px;
}

ol>li {
    margin: 0% 0.5% 0% 0.5%;
    width: 19%;
    background-image: linear-gradient(to right, rgba(0, 162, 255, 0.8), rgba(55, 0, 255, 0.9));
    float: left;
    height: 2em;
}

ol>li:hover>ul {
    display: block;
}

ol>li>ul {
    display: none;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

ol>li>ul>li {
    position: relative;
    background-color: rgb(255, 255, 255);
}

ol>li>ul>li>a {
    color: rgb(0, 0, 0);
}

ol>li>ul>li:hover {
    background-color: rgb(10, 10, 15);
}

ol>li>ul>li:hover>a {
    color: rgb(255, 255, 255);
}

ol>li:before {
    color: rgb(255, 255, 255);
    margin: 0px 10px 0px 5px;
    float: left;
}

ol>li>ul>li:before {
    color: rgb(0, 0, 0);
    content: "🚗";
    margin: 0px 10px 0px 5px;
    float: left;
}





















/* Samochod na drodze animacja */
.road {
    float: left;
    margin: 10px;
    position: relative;
    width: 700px;
    height: 150px;
    background: #333;
    border-radius: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    perspective: 500px;
}

.road::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, #fff, #fff 50%, transparent 50%, transparent 100%);
    background-size: 50px;
    animation: animate_road 0.125s linear infinite;
}

@keyframes animate_road {
    0% {
        background-position: 50px 0;
    }

    100% {
        background-position: 0px 0;
    }
}

.car {
    position: absolute;
    left: 50px;
    width: 200px;
    height: 80px;
    background: silver;
    border-radius: 10px;
    box-shadow: -10px 10px rgba(0, 0, 0, 0.25);
    transform-style: preserve-3d;
    perspective: 800px;
    animation: animate_car 2s linear infinite;
}

@keyframes animate_car {
    0% {
        transform: translateX(20px) translateY(-20px);
    }

    25% {
        transform: translateX(-10px) translateY(0px);
    }

    50% {
        transform: translateX(20px) translateY(20px);
    }

    75% {
        transform: translateX(-10px) translateY(0px);
    }

    100% {
        transform: translateX(20px) translateY(-20px);
    }
}

.car::before {
    content: '';
    position: absolute;
    top: 12px;
    left: 2px;
    width: 5px;
    height: 15px;
    border-radius: 2px;
    background: red;
    box-shadow: 0 42px red;
}

.car::after {
    content: '';
    position: absolute;
    top: 10px;
    right: 2px;
    width: 6px;
    height: 16px;
    border-radius: 2px;
    background: #fff;
    box-shadow: 0 44px #fff;
}

.car span {
    position: absolute;
    inset: 5px 10px;
    background-color: grey;
    border-radius: 10px;
    overflow: hidden;
}

.car span b {
    position: absolute;
    inset: 0 40px 0 10px;
    background: #111;
    border-radius: 10px;
}

.car span b::before {
    content: '';
    position: absolute;
    inset: 5px 25px;
    background: grey;
    border-radius: 5px;
}

.car span i {
    position: absolute;
    inset: 0;
}

.car span i::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 5px;
    background: grey;
    transform-origin: right;
    transform: rotate(15deg);
    box-shadow: 100px 34px grey;
}

.car span i::after {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 50px;
    height: 5px;
    background: grey;
    transform-origin: right;
    transform: rotate(-15deg);
    box-shadow: 100px -34px grey;
}

.car .light {
    position: absolute;
    top: 5px;
    right: -2px;
    width: 10px;
    height: 70px;
    background: #0002;
    border-radius: 15px;
    transform-style: preserve-3d;
}

.car .light::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    width: 150px;
    height: 16px;
    background: linear-gradient(to right, #fff6, transparent);
    transform-origin: left;
    transform: perspective(500px) rotateY(-50deg);
}

.car .light::after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 150px;
    height: 16px;
    background: linear-gradient(to right, #fff6, transparent);
    transform-origin: left;
    transform: perspective(500px) rotateY(-50deg);
}